# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
# Qt-es

/.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.h
moc_*.cpp
qrc_*.cpp
#ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
src/QtService/.DS_Store

src/OSXObjectiveCBridge/.DS_Store

src/AndamaProxy/.DS_Store

src/Andama/Andama
src/Andama/.DS_Store

src/.DS_Store

.DS_Store
